/* style.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Черный фон */
}

#menu-container {
    text-align: center;
    color: #fff; /* Белый цвет текста */
}

#app-title {
    font-size: 36px;
    margin-bottom: 20px;
}

#balance {
    font-size: 24px;
    margin-bottom: 20px;
}

#play-button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}
